<ion-header>
  <ion-toolbar>
    <ion-title>score</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
<ion-toolbar color="primary">
<ion-buttons slot="start">
<ion-icon size="large" name="basketball-outline">
</ion-icon>
</ion-buttons>
<ion-title>Score Apps</ion-title>
</ion-toolbar>
</ion-header>
<ion-content>
<ion-card>

<ion-card-content>
<ion-text color="secondary" class="ion-text-center">
<h1 class="ion-2x">{{no}}</h1>
<ion-button color="success" (click)="up()" expand="block">Up</ion-button>
<ion-button color="warning" (click)="down()" expand="block">Down</ion-button>
</ion-text>
</ion-card-content>

</ion-card>
</ion-content>
</ion-content>
