<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Presensi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="dark">
          <ion-card-content>
            <div class="ion-text-center">
              Ganjil
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="dark">
          <ion-card-content>
            <div class="ion-text-center">
              Genap
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="dark">
          <ion-card-content>
            <div class="ion-text-center">
              Remedial
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="dark">
          <ion-card-content>
            <div class="ion-text-center">
              Remedial Ganjil
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="dark">
          <ion-card-content>
            <div class="ion-text-center">
              Remedial Genap
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
