<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
        Beranda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="10">  
        <ion-card color="medium">
        <ion-card-header>
          <ion-card-subtitle>Yanuar Fauzan Isnain</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          21.01.4697
        </ion-card-content>
      </ion-card></ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <div class="ion-text-center">
        Jadwal Hari Ini
      </div>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="8">  
        
        <ion-card size="small">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title>Hybrid Web Development</ion-card-title>
          <ion-card-subtitle>12.30 - 14.10</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          L.2.4.3
        </ion-card-content>
      </ion-card>
    
    </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <div class="ion-text-center">
        Menu
      </div>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="secondary">
          <ion-card-content>
            <div class="ion-text-center">
              Hasil Studi
            </div> 
            </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="secondary">
          <ion-card-content>
            <div class="ion-text-center">
              Jadwal Kuliah
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="secondary">
          <ion-card-content>
            <div class="ion-text-center">
              Transkip
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="secondary">
          <ion-card-content>
            <div class="ion-text-center">
              Perpustakaan
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="secondary">
          <ion-card-content>
            <div class="ion-text-center">
              Pembayaran
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="secondary">
          <ion-card-content>
            <div class="ion-text-center">
              KTM
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
